#header {
  height: 60px;
  background: #424242;
  position: absolute;
  text-align: right;
  padding-top: 15px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;

  a {
      font-weight: 400;
      margin: 0 24px 0 0;
      color: #fdfdfd;
      font-size: 18px;
      text-decoration: none;
  }
}