// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// app.js
#searchUserTitle {
    text-align: center;
    margin: 100px 0 0 0;
}

// searchBox.js
.searchBox {
    text-align: center;
    padding: 20px 0 0 0;

    input {
        width: 300px;
        height: 30px;
    }
}

// userList.js
#search_user_list_wrap {

    text-align: center;
    color: #424242;

    .search_user_list {
        width: 300px;
        height: 25px;
        margin: auto;
        text-align: left;

        li {
            width: 300px;
            height: 25px;
            margin-top: 5px;
            font-size: 15px;
            border-bottom: inset 0.5px #f5f5f5;
        }
    }
}